.inputWrapper {
    position: absolute;
    top: 128px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}

.input {
    height: 64px;
    box-shadow: 0 4px 6px rgba(100, 100, 111, 0.2);
    border: none;
    padding: 19px 25px;
    font-size: 22px;
    font-weight: 700;
    color: #656EC2;
    line-height: 26.4px;
}

.input::placeholder {
    color: #656EC2;
    font-family: 'FiraSansFontBold', sans-serif;
}

.input:focus {
    outline: none;
}

.result {
    padding: 13px 40px 0;
    font-family: 'MontserratFontRegular', sans-serif;
    line-height: 19.5px;
}


@media screen and (max-width: 320px) {
    .inputWrapper {
        width: 90%;
        left: 5%;
    }

    .input {
        width: 100%;
        height: 50px;
        padding: 15px;
        font-size: 18px;
    }

    .result {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (min-width: 768px) {
    .input {
        width: 626px;
    }
}